/* --------------------------------------------------------------------------- */
/*
/*	Globals
/*
/* --------------------------------------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}

// root
:root {}

// body
body {}


// text & links
p, a {
	margin: 0;
	padding: 0;
	/*-webkit-transform: translateZ(0);*/
}

p {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	transition: all .4s;
	color: inherit;
}



// container
.container {}



// lists
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
