/* --------------------------------------------------------------------------- */
/*
/*	padding
/*
/* --------------------------------------------------------------------------- */
.padding-top-1 { padding-top: 1rem; }
.padding-top-2 { padding-top: 2rem; }
.padding-top-3 { padding-top: 3rem; }
.padding-top-4 { padding-top: 4rem; }
.padding-top-5 { padding-top: 5rem; }
.padding-top-7 { padding-top: 7rem; }
.padding-top-10 { padding-top: 10rem; }


.padding-bottom-1 { padding-bottom: 1rem; }
.padding-bottom-2 { padding-bottom: 2rem; }
.padding-bottom-3 { padding-bottom: 3rem; }
.padding-bottom-4 { padding-bottom: 4rem; }
.padding-bottom-5 { padding-bottom: 5rem; }
.padding-bottom-7 { padding-bottom: 7rem; }
.padding-bottom-10 { padding-bottom: 10rem; }


@media (max-width: 600px) {
    .padding-top-10 { padding-top: 7rem; }
    .padding-top-7 { padding-top: 5rem; }
    .padding-top-5 { padding-top: 3rem; }
    .padding-top-4 { padding-top: 2.5rem; }
    .padding-top-3 { padding-top: 2rem; }
    .padding-top-2 { padding-top: 1rem; }
    .padding-bottom-10 { padding-bottom: 7rem; }
    .padding-bottom-7 { padding-bottom: 5rem; }
    .padding-bottom-5 { padding-bottom: 3rem; }
    .padding-bottom-4 { padding-bottom: 2.5rem; }
    .padding-bottom-3 { padding-bottom: 2rem; }
    .padding-bottom-2 { padding-bottom: 1rem; }
}


@media (max-width: 400px) {
    .padding-top-10 { padding-top: 5rem; }
    .padding-top-7 { padding-top: 3rem; }
    .padding-top-5 { padding-top: 2rem; }
    .padding-top-4 { padding-top: 2rem; }
    .padding-top-3 { padding-top: 1.5rem; }
    .padding-top-2 { padding-top: 1rem; }
    .padding-bottom-10 { padding-bottom: 5rem; }
    .padding-bottom-7 { padding-bottom: 3rem; }
    .padding-bottom-5 { padding-bottom: 2rem; }
    .padding-bottom-4 { padding-bottom: 2rem; }
    .padding-bottom-3 { padding-bottom: 1.5rem; }
    .padding-bottom-2 { padding-bottom: 1rem; }
}
