 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */

// fonts
// ...

// colors
// ...


/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import
'vendor/normalize';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

// template
@import
'template/fonts',
'template/globals',
'template/padding',
'template/header',
'template/footer',
'template/animation';


// modules
@import
'modules/cookiemessage';


// components
@import
'components/headlines',
'components/buttons',
'components/content';
